<a href="https://colab.research.google.com/github/3006vpriyanka/priya_project_0504/blob/main/Tnt_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STOCK SENTIMENT ANALYSIS**

In [1]:
import pandas as pd

In [2]:
from google.colab import files

In [7]:
uploaded=files.upload()

Saving Data.csv to Data.csv

In [8]:
import io

In [10]:
dataset=pd.read_csv('Data.csv', encoding = "ISO-8859-1")

In [12]:
dataset.head(2)

         Date  ...                         Top25
0  2000-01-03  ...            Recovering a title
1  2000-01-04  ...  Millennium bug fails to bite

[2 rows x 27 columns]

In [13]:
print(dataset)

            Date  ...                                              Top25
0     2000-01-03  ...                                 Recovering a title
1     2000-01-04  ...                       Millennium bug fails to bite
2     2000-01-05  ...                                       Useful links
3     2000-01-06  ...                        Lessons of law's hard heart
4     2000-01-07  ...                                         Gone aloft
...          ...  ...                                                ...
4096  2016-06-27  ...  Pakistani clerics declare transgender marriage...
4097  2016-06-28  ...  Mexico's security forces routinely use 'sexual...
4098  2016-06-29  ...  Tiny New Zealand town with 'too many jobs' lau...
4099  2016-06-30  ...  Law Enforcement Sources: Gun Used in Paris Ter...
4100  2016-07-01  ...  Ozone layer hole seems to be healing - US &amp...

[4101 rows x 27 columns]

In [14]:
train = dataset[dataset['Date'] < '20150101' ]
test = dataset[dataset['Date'] > '20141231']

In [15]:
#display the train and test data
print(train)
print(test)

            Date  ...                                              Top25
0     2000-01-03  ...                                 Recovering a title
1     2000-01-04  ...                       Millennium bug fails to bite
2     2000-01-05  ...                                       Useful links
3     2000-01-06  ...                        Lessons of law's hard heart
4     2000-01-07  ...                                         Gone aloft
...          ...  ...                                                ...
3970  2015-12-24  ...  Cameron, Osborne and Murdoch back together at ...
3971  2015-12-28  ...  Experiment in Germany tests the idea of an 'em...
3972  2015-12-29  ...  Israel warns Brazil to accept its settler amba...
3973  2015-12-30  ...  UK Sperm Bank Doesn't Accept Donors with Dysle...
3974  2015-12-31  ...  Hamas to keep Palestinians from ringing in New...

[3975 rows x 27 columns]
            Date  ...                                              Top25
3723  2015-01-02  ...  Authorities Pull Plug on Russia's Last Politic...
3724  2015-01-05  ...                      China scraps rare earths caps
3725  2015-01-06  ...  Tests over, India set to make the iris of bigg...
3726  2015-01-07  ...   Ebola vaccine trials in Halifax so far a success
3727  2015-01-08  ...  Young mother let terrorists into Charlie Hebdo...
...          ...  ...                                                ...
4096  2016-06-27  ...  Pakistani clerics declare transgender marriage...
4097  2016-06-28  ...  Mexico's security forces routinely use 'sexual...
4098  2016-06-29  ...  Tiny New Zealand town with 'too many jobs' lau...
4099  2016-06-30  ...  Law Enforcement Sources: Gun Used in Paris Ter...
4100  2016-07-01  ...  Ozone layer hole seems to be healing - US &amp...

[378 rows x 27 columns]

In [17]:
#removing the punctuation
data = train.iloc[:, 2:27]
data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

In [18]:
#Renaming the column name for the ease of access

list1 = [i for i in range(25)]
new_index = [str(i) for i in list1]
data.columns = new_index
data.head(2)

                                                   0  ...                            24
0  A  hindrance to operations   extracts from the...  ...            Recovering a title
1                                          Scorecard  ...  Millennium bug fails to bite

[2 rows x 25 columns]

In [21]:
#converting headlines to lowercase

for index in new_index:
  data[index] = data[index].str.lower()
data.head(2)

                                                   0  ...                            24
0  a  hindrance to operations   extracts from the...  ...            recovering a title
1                                          scorecard  ...  millennium bug fails to bite

[2 rows x 25 columns]

In [20]:
' '.join(str(x) for x in data.iloc[1,0:25])

'scorecard the best lake scene leader  german sleaze inquiry cheerio  boyo the main recommendations has cubie killed fees  has cubie killed fees  has cubie killed fees  hopkins  furious  at foster s lack of hannibal appetite has cubie killed fees  a tale of two tails i say what i like and i like what i say elbows  eyes and nipples task force to assess risk of asteroid collision how i found myself at last on the critical list the timing of their lives dear doctor irish court halts ira man s extradition to northern ireland burundi peace initiative fades after rebels reject mandela as mediator pe points the way forward to the ecb campaigners keep up pressure on nazi war crimes suspect jane ratcliffe yet more things you wouldn t know without the movies millennium bug fails to bite'

In [22]:
headlines = []
for row in range(0,len(data.index)):
  headlines.append(''.join(str(x) for x in data.iloc[row,0:25]))

In [23]:
headlines[0]

'a  hindrance to operations   extracts from the leaked reportsscorecardhughes  instant hit buoys bluesjack gets his skates on at ice cold alexchaos as maracana builds up for uniteddepleted leicester prevail as elliott spoils everton s partyhungry spurs sense rich pickingsgunners so wide of an easy targetderby raise a glass to strupar s debut doublesouthgate strikes  leeds pay the penaltyhammers hand robson a youthful lessonsaints party like it s     wear wolves have turned into lambsstump mike catches testy gough s tauntlanger escapes to hit    flintoff injury piles on woe for englandhunters threaten jospin with new battle of the sommekohl s successor drawn into scandalthe difference between men and womensara denver  nurse turned solicitordiana s landmine crusade put tories in a panicyeltsin s resignation caught opposition flat footedrussian roulettesold outrecovering a title'

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [25]:
#implement Bag of Words
countvector = CountVectorizer(ngram_range=(2,2))
traindataset = countvector.fit_transform(headlines)

In [26]:
#Implement random forest classifier
randomClassifier = RandomForestClassifier(n_estimators=200,criterion='entropy')
randomClassifier.fit(traindataset,train['Label'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [27]:
#predict the test dataset

test_transform = []
for row in range(0,len(test.index)):
  test_transform.append(''.join(str(x) for x in test.iloc[row,2:27]))
test_dataset = countvector.transform(test_transform)
predictions = randomClassifier.predict(test_dataset)

In [28]:
#importing library to check accuracy

from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [30]:
#confusion matrix
matrix = confusion_matrix(test['Label'],predictions)
print(matrix)

[[139  47]
 [ 12 180]]

In [31]:
#accuracy score
ac = accuracy_score(test['Label'],predictions)
print(ac)

0.843915343915344

In [32]:
#classification report

report = classification_report(test['Label'],predictions)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.75      0.82       186
           1       0.79      0.94      0.86       192

    accuracy                           0.84       378
   macro avg       0.86      0.84      0.84       378
weighted avg       0.86      0.84      0.84       378